html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
  height: 100%;
  background-position: center;
  background-image:linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(12, 12, 12, 0.6)), url(https://cloud.githubusercontent.com/assets/20543073/18931500/81accfae-859a-11e6-91df-fc578febd471.jpg);
  background-size: cover;
}

.container {
    margin:  auto;
    padding: 0 10px;
}

.logo {
    height: 200px;
    margin: -50px 400px;
}

.slogan {
    position: relative;
    margin: 300px auto;
    width: 100%;
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
}

.footer {
    background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(12, 12, 12, 0.7));
    position: relative;
    top: -200px;
    width: 100%;
    height: 170px;
}

span {
    color: #ffab50;
}
span2 {
    text-decoration: underline;
}
span2:hover {
    color: #ffab50;
}
 #mc_embed_signup{
     background: none;
     position: relative;
     color: #fff;
     text-align: center;
     font: 14px 'Raleway', sans-serif;
     width:100%;
     top: 10px;
}
h4 {
    position: relative;
    font: 18px 'Raleway', sans-serif;
    font-weight: 400;
    width: 950px;
    left: -100px;
    text-align: center;
}
.mc-field-group {
    line-height: 20px;
}
.email {
    border: none !important;
    border: 2px solid #009eed !important;
    background: #fff;
    border-radius: 0px !important;
    display: inline-block;
}

.email:hover {
    border: 2px solid #ffab50 !important;
}

input.button {
    background: #009eed !important;
    border-radius: 0px !important;
    border: 1px solid #fff;
    font-family: 'Helvetic', sans-serif;
    font-weight: 600 !important;
    font-size: 14px !important;
    letter-spacing: 1px !important;
}

input.button:hover {
    background: #ffab50 !important;
    display: inline;
}

.marketer-btn {
    position: relative;
    background: none;
    color: #bdbdbd;
    border: none;
    width: 900px;
    font-weight: 100;
    margin: auto;
    text-align: center;
    bottom: -10px;  
    left: -90px;
}

@media (max-width: 500px) {
    h1 {
        position: fixed;
        left: 100px;
    }
    h2 {
        width: 100%;
    }
    .main p {
        font-size: 14px;
        top: 180px;
        left: 8px;
    }
    #mc_embed_signup {
        top: 160px;
        font-size: 12px;
        width: 100%;
    }
}

